
*, :after, :before {
    box-sizing: border-box;
}

.sign {
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
}

.sign:before {
    content: "";
    display: inline-block;
    height: 85%;
    vertical-align: middle;
}

.sign .disable, .sign .disable-gray {
    opacity: .5;
    pointer-events: none;
}

.sign .disable-gray {
    background-color: #969696;
}

.sign .main {
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    vertical-align: middle;
    display: inline-block;
}

 .sign .title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
}

.sign .title a {
    padding: 10px;
    color: #969696;
}


.sign form {
    margin-bottom: 30px;
    width: 100%;
}

.sign form .input-position {
    position: relative;
    width: 100%;
    display: inline-block;
}

.sign form .input-position input {
    height: 50px;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
    background-color: hsla(0, 0%, 71%, .1);
    vertical-align: middle;
    float: right;

}

.sign form .input-position span {
    color: #333;
    float: left;
    font-size: 20px;
    line-height: 2;
}
 .sign .sign-up-button {
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}

 .sign .sign-up-button:hover {
    background: #3db922;
}


@media (max-width: 768px) {
    body {
        min-width: 0;
    }

    .sign {
        height: auto;
        min-height: 0;
        background-color: transparent;
    }
    .sign .main {
        position: absolute;
        left: 50%;
        margin: 0 0 0 -200px;
        box-shadow: none;
    }
}
